@import "../../../src/Styles/base.scss";

.primary-btn {
  background: #fcbc08;
  border:none;
  box-shadow: 0px 4.31579px 4.31579px rgba(0, 0, 0, 0.09);
  padding: 16.1842px 56.1053px;
  border-radius: 8px;
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 400;
  font-size: 21.5789px;
  line-height: 24px;
  text-align: center;
  text-transform: capitalize;
  color: $primaryWhite;
}
.secondary-btn {
  padding: 10px 35px;
  text-transform: uppercase;
  border: 1px solid #fcbc08;
  background: $primaryWhite;
  border-radius: 5px;
  color: #fcbc08;
}
