@import "../../Styles/base.scss";
.primary-c-btn {
    background: #926228;;
    border:none;
    border-radius: 50%;
    text-align: center;
    text-transform: capitalize;
    color: $primaryWhite;
  }
  .secondary-c-btn {
    background-color: $primaryWhite;
    border: 1px solid #926228;;
    border-radius: 50%;
    color: #926228;;
  }
  