.primary-c-btn {
    background: hsla(44, 80%, 23%, 0.928);
    border:none;
    border-radius: 50%;
    text-align: center;
    text-transform: capitalize;
    color: #ffffff;
  }
  .secondary-c-btn {
    border: 1px solid #fcbc08;
    border-radius: 5px;
    color: #fcbc08;
  }
  