.rider-section-wrapper {
  height: 564px;

  img {
    position: absolute;
    z-index: 1;
    top: 6376px;
  }
}

.text-content-wrapper {
  margin: 0px -89px 0px -89px;
  position: relative;
  height: 370px;
  background-color: #fce5c0;
  top: 116px;
  .content {
    max-width: 52%;
    position: relative;
    top: 36px;
    left: 45%;
    h1 {
      font-weight: 700;
      font-size: 67px;
      line-height: 113.2%;
      text-transform: capitalize;
      color: #fec568;
    }
    h3 {
      font-weight: 600;
      font-size: 40px;
      line-height: 113.2%;
    }
    p {
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      line-height: 25px;
      text-transform: capitalize;
      b {
        font-weight: 600;
        font-size: 20px;
        line-height: 25px;
        text-transform: capitalize;
      }
    }
  }
}
@media screen and (max-width: 1435px) {
  .rider-section-wrapper {
    display: none;
  }
}
