.pop-delicacies-wrapper {
  display: flex;
}
.image-heading-wrapper {
  display: flex;
  flex-direction: column;
  gap: 25px;
  img {
    height: 518px;
    padding-right: 20px;
  }
}
.content-wrapper {
  padding: 6% 1% 0% 1%;
  h3{
    max-width: 371px;
    margin-bottom: 45px;
  }

}
.buttons-wrapper{
  margin: 9% 0 0 0 ;
}

@media screen and (max-width: 1024px) {
  
  .pop-delicacies-wrapper{
    display: flex;
    flex-direction: column;
  }
}