.pop-delicacies-wrapper {
  display: flex;
}
.image-heading-wrapper {
  display: flex;
  flex-direction: column;
  gap: 25px;
  img {
    width: 620px;
    height: 518px;
    padding-right: 20px;
  }
}
.content-wrapper {
  padding: 76px 90px 20px 29px;
  h3{
    margin-bottom: 45px;
  }
}
.buttons-wrapper{
  margin: 57px 0px 0px 1px;
}