@import "../../Styles/base.scss";
.voucher-wrapper {
  h3 {
    padding: 20px 40px 0px 40px;
    margin: 0px;
    font-family: "Source Sans Pro";
    font-style: normal;
    font-weight: 600;
    font-size: 50.2178px;
    line-height: 113.2%;
    text-align: center;
    text-transform: uppercase;
    color: $primaryWhite;
  }
  span{
    display: flex;
    align-items: center;
  }
  p {
    padding: 7px 89px 11px 49px;
    font-family: "Source Sans Pro";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 113.2%;

    color: $primaryWhite;
  }
}
