@import "../../Styles/base.scss";
.voucher-wrapper {
  margin: 0px 10px 0px 0px;
  h3 {
    padding: 3% 0% 2% 2%;
    font-family: "Source Sans Pro";
    font-style: normal;
    font-weight: 600;
    font-size: 50.2178px;
    line-height: 113.2%;
    text-align: center;
    text-transform: uppercase;
    color: $primaryWhite;
  }
  span{
    display: flex;
    align-items: center;
  }
  p {
    padding: 2% 17% 3% 22%;
    font-family: "Source Sans Pro";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 113.2%;
    color: $primaryWhite;
  }
}
