.promotion-section-wrapper {
  display: flex;
  justify-content: center;
  .promotion-1-container,.promotion-2-container{
    width: 45%;
  }
}
.promotion-1-container {
  position: relative;
  background: url("../../LocalImages/Promotion1.png");
  background-repeat: no-repeat;
  padding: 304px 0px 0px 25px;
}
.promotion-2-container {
  position: relative;
  background: url("../../LocalImages/Promotion2.png");
  background-repeat: no-repeat;
  padding: 304px 0px 0px 25px;
}
.text-block {
  position: absolute;
  width: 310.59px;
  height: 59.05px;
  left: 128.81px;
  top: 370.11px;
  h5 {
    font-family: "Inter";
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
  }
  p {
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 15.2387px;
    line-height: 18px;
  }
}
@media screen and (max-width: 768px) {
  .promotion-section-wrapper{
    display: none;
  }
}
