.rectangle161 {
    position: absolute;
    left: 0;
    right: 55.9524%;
    top: 4.5699%;
    bottom: 86.828%;
    overflow: visible;
    &__icon {
      width: 100%;
      height: 100%;
    }
  }
  ._10Off {
    color: #fff;
    font-size: 20px;
    line-height: 113.2%;
    font-family: Source Sans Pro, system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
      'Liberation Sans', sans-serif;
    text-transform: uppercase;
    position: absolute;
    left: 2.7778%;
    right: 66.2698%;
    top: 5.6452%;
    bottom: 88.172%;
    width: min-content;
    height: min-content;
    text-align: center;
    align-items: center;
    white-space: nowrap;
    flex-direction: column;
  }
  