.text-block-wrapper {
  h3 {
    // width: 371px;
    height: 66px;
    margin-top: 30px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 33px;
  }
  h6 {
    font-size: 18px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    line-height: 22px;
  }
  p {
    min-height: 114px;
    font-family: "Source Sans Pro";
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 113.2%;
    text-transform: capitalize;
  }
}
@media screen and (max-width: 1024px) {

}