.App {
  width: 100%;
  display: flex;
  margin: 0;
  flex-direction: column;
  font-family: "Source Sans Pro", sans-serif;
  background: #f5f5f5;
  .main-section {
    display: flex;
    flex-direction: column;
    // height: 8332px;
    position: relative;
    padding: 0px 91px 80px 93px;
    .main-image-full-width{
      position: absolute;
      display: flex;
      flex-direction: column;
      gap: 80px;
      top:4850px;
      margin: 0px 0px 86px -93px
    }
  }

}

@media screen and (max-width: 768px) {
  .App{
    background-color: white;
  }
}
